<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar anotações</title>
</head>
<body>
    {% extends "register/base.html" %}

    {% block content %}
    <h1>Excluir Entrada</h1>
    <p>Tem certeza de que deseja excluir a entrada "{{ entry }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Excluir</button>
        <a href="{% url 'topic' topic.id %}">Cancelar</a>
    </form>
    {% endblock content %}
</body>
</html>