<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Tópico</title>
</head>
<body>
    {% extends "register/base.html" %}
    {% block content %}
    <div>
        <h1>Excluir Tópico</h1>
        <p>Tem certeza de que deseja excluir o tópico "{{ topic }}"?</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Excluir</button>
            <a href="{% url 'topics' %}">Cancelar</a>
        </form>
    </div>
    {% endblock content %}
</body>
</html>
