<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar anotações</title>
    <link rel="stylesheet" href="/static/css/components/header.css">
    <link rel="stylesheet" href="/static/css/components/hero.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="body">
    <header class="header">
        <span class="header__logo">Diário Digital</span>
        <nav>
            <ul class="nav__ul">
                <li class="nav__li"><a class="nav__a" href="{% url 'index' %}">Início</a></li>
                <li class="nav__li"><a class="nav__a" href="{% url 'topics' %}">Tópicos</a></li>
                {% if user.is_authenticated %}
                    <li class="nav__li">Olá, {{ user.username }}</li>
                    <li class="nav__li"><a class="nav__a" href="{% url 'logout' %}">Sair</a></li>
                {% else %}
                    <li class="nav__li"><a class="nav__a" href="{% url 'login' %}">Entrar</a></li>
                    <li class="nav__li"><a class="nav__a" href="{% url 'register' %}">Registrar</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <h1>Excluir Entrada?</h1>
    <p>Tem certeza de que deseja excluir a entrada "{{ entry }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Excluir</button>
        <button><a class="nav__a" href="{% url 'topic' topic.id %}">Cancelar</a></button>
    </form>

</body>
</html>