<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descubra</title>
    <link rel="stylesheet" href="/static/css/components/header.css">
    <link rel="stylesheet" href="/static/css/components/hero.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header class="header">
        <span class="header__logo">Diário Digital</span>
        <nav>
            <ul class="nav__ul">
                <li class="nav__li"><a class="nav__a" href="{% url 'index' %}">Início</a></li>
                <li class="nav__li"><a class="nav__a" href="{% url 'topics' %}">Tópicos</a></li>
                {% if user.is_authenticated %}
                    <li class="nav__li">Olá, {{ user.username }}</li>
                    <li class="nav__li"><a class="nav__a" href="{% url 'logout' %}">Sair</a></li>
                {% else %}
                    <li class="nav__li"><a class="nav__a" href="{% url 'login' %}">Entrar</a></li>
                    <li class="nav__li"><a class="nav__a" href="{% url 'register' %}">Registrar</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <section class="hero">
        <div class="hero__right2">
            <h4>Bem-vindo ao Diário Digital!</h4>
            <p>Para começar a usar, você precisa primeiro criar um usuário.</p>
            <p>Após o cadastro, você estará livre para criar tópicos e adicionar anotações conforme desejar.</p>
            <p>Sinta-se à vontade para explorar e personalizar seu diário da maneira que preferir.</p>
            <p>Estamos aqui para ajudar você a organizar suas ideias de forma eficiente!</p>
            <p>Se deseja participar desse projeto, entre em contato.</p>
            
        </div>
    </section>
    <section class="hero">
        <div class="hero__right2">
            <h1>Emanuel Porto:</h1>
            <p>
                5415353@proton.me
            </p>
            <p><a class="nav__a" href="https://discord.gg/vnc47uJe">Discord</a></p>
            <p><a class="nav__a" href="https://x.com/dev_porto_py">X</a></p>
            <p><a class="nav__a" href="https://github.com/PortoEmanuel">GitHub</a></p>
        </div>
    </section>
</body>
</html>