<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diário Digital</title>
    <link rel="stylesheet" href="/static/css/components/header.css">
    <link rel="stylesheet" href="/static/css/components/hero.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body >
    <header class="header">
        <span class="header__logo">Diário Digital</span>
        <nav>
            <ul class="nav__ul">
                <li class="nav__li"><a class="nav__a" href="{% url 'index' %}">Início</a></li>
                <li class="nav__li"><a class="nav__a" href="{% url 'topics' %}">Tópicos</a></li>
                <li class="nav__li" ><a class="nav__a" href="{% url 'chat' %}">Chat</a></li>
                {% if user.is_authenticated %}
                    <li class="nav__li">Olá, {{ user.username }}</li>
                    <li class="nav__li"><a class="nav__a" href="{% url 'logout' %}">Sair</a></li>
                {% else %}
                    <li class="nav__li"><a class="nav__a" href="{% url 'login' %}">Entrar</a></li>
                    <li class="nav__li"><a class="nav__a" href="{% url 'register' %}">Registrar</a></li>
                    
                {% endif %}
            </ul>
        </nav>
    </header>
    <section class="hero">
        <div class="hero__left">
            <span class="hero__up-text">Comece agora</span>
            <h1 class="hero__title">Bem-vindo ao meu registro de apendizagem</h1>     
            <h2 class="hero__description">Aqui é possível criar tópicos e escrever suas anotações.</h2>
            <a href="{% url 'descubra' %}"><button class="hero__btn"><a class="nav__a" href="{% url 'descubra' %}">Descubra</a></button></a>
            
        </div>
        <div class="hero__right">
            <img class="hero__img" src="/static/img/img1-removebg-preview.png" alt="imagem de anotaçoes">
        </div>
    </section>
    <div>
        <footer class="footer__topic" ><p>Todos direitos reservados <a class="nav__a"  href="https://github.com/PortoEmanuel">Emanuel Porto</a></p></footer>
    </div>
</body>
</html>
