<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Tópico</title>
    <link rel="stylesheet" href="/static/css/components/header.css">
    <link rel="stylesheet" href="/static/css/components/hero.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="body">
    <header class="header">
        <span class="header__logo">Diário Digital</span>
        <nav>
            <ul class="nav__ul">
                <li class="nav__li"><a class="nav__a" href="{% url 'index' %}">Início</a></li>
                <li class="nav__li"><a class="nav__a" href="{% url 'topics' %}">Tópicos</a></li>
                {% if user.is_authenticated %}
                    <li class="nav__li">Olá, {{ user.username }}</li>
                    <li class="nav__li"><a class="nav__a" href="{% url 'logout' %}">Sair</a></li>
                {% else %}
                    <li class="nav__li"><a class="nav__a" href="{% url 'login' %}">Entrar</a></li>
                    <li class="nav__li"><a class="nav__a" href="{% url 'register' %}">Registrar</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div>
        <h1>Adicionar Novo Tópico</h1>
        <div>
            <p>Preencha o nome do tópico.</p>
            <form action="{% url 'new_topic' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="hero__btn" type="submit">Adicionar</button>
            </form>
        </div>
    </div>

</body>
</html>
