<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tópico</title>
    <link rel="stylesheet" href="/static/css/components/header.css">
    <link rel="stylesheet" href="/static/css/components/hero.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header class="header">
        <span class="header__logo">Diário Digital</span>
        <nav>
            <ul class="nav__ul">
                <li class="nav__li"><a class="nav__a" href="{% url 'index' %}">Início</a></li>
                <li class="nav__li"><a class="nav__a" href="{% url 'topics' %}">Tópicos</a></li>
                {% if user.is_authenticated %}
                    <li class="nav__li">Olá, {{ user.username }}</li>
                    <li class="nav__li"><a class="nav__a" href="{% url 'logout' %}">Sair</a></li>
                {% else %}
                    <li class="nav__li"><a class="nav__a" href="{% url 'login' %}">Entrar</a></li>
                    <li class="nav__li"><a class="nav__a" href="{% url 'register' %}">Registrar</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
        <main>
            <div>
                <p>Tópico: {{ topic }} </p>
                <p>Anotações: </p>
                <ul>
                    {% for entry in entries %}
                        <li>
                            <p>{{ entry.date_added | date:'M d, Y H:i' }}</p>
                            <p>{{ entry.text | linebreaks }}</p>
                            <p>
                                <button class="hero__btn-ex"><a class="nav__a" href="{% url 'edit_entry' entry.id %}">Editar anotação</a></button> 
                                <button class="hero__btn-ex"><a class="nav__a" href="{% url 'delete_entry' entry.id %}">Excluir</a></button>
                            </p>
                        </li>
                    {% empty %}
                        <li>Não há registro.</li>
                    {% endfor %}
                </ul>
                <p>
                    <button class="hero__btn"><a class="nav__a" href="{% url 'new_entry' topic.id %}">Adicionar nova anotação</a></button>
                </p>
            </div>
        </main>
        <div class="container" >
            <footer class="footer" ><p>Todos direitos reservados <a class="nav__a"  href="https://github.com/PortoEmanuel">Emanuel Porto</a></p></footer>
        </div>

</body>
</html>
