<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tópico</title>
    <style>
        .caixa {
            border: 1px solid #ccc; /* Borda leve */
            padding: 20px; /* Espaço interno */
            margin: 20px; /* Espaço externo */
            border-radius: 8px; /* Cantos arredondados */
            background-color: #f9f9f9; /* Cor de fundo */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
        }
    </style>
</head>
<body>
    {% extends "register/base.html" %}

    {% block content %}
        <div class="caixa">
            <p>Tópico: {{ topic }} </p>
            <p>Anotações: </p>
            <ul>
                {% for entry in entries %}
                <li>
                    <p>{{ entry.date_added | date:'M d, Y H:i' }}</p>
                    <p>{{ entry.text | linebreaks }}</p>
                    <p>
                        <a href="{% url 'edit_entry' entry.id %}">Editar anotação</a> -
                        <a href="{% url 'delete_entry' entry.id %}">
                        Excluir
                    </a>
                    </p>
                </li>
                {% empty %}
                <li>
                    Não há registro.
                </li>
                {% endfor %}
            </ul>
            <p>
                <a href="{% url 'new_entry' topic.id %}">Adicionar nova anotação</a>
            </p>
        </div>
    {% endblock content %}

</body>
</html>