<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tópicos</title>
    <link rel="stylesheet" href="/static/css/components/header.css">
    <link rel="stylesheet" href="/static/css/components/hero.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header class="header">
        <span class="header__logo">Diário Digital</span>
        <nav>
            <ul class="nav__ul">
                <li class="nav__li"><a class="nav__a" href="{% url 'index' %}">Início</a></li>
                <li class="nav__li"><a class="nav__a" href="{% url 'topics' %}">Tópicos</a></li>
                {% if user.is_authenticated %}
                    <li class="nav__li">Olá, {{ user.username }}</li>
                    <li class="nav__li"><a class="nav__a" href="{% url 'logout' %}">Sair</a></li>
                {% else %}
                    <li class="nav__li"><a class="nav__a" href="{% url 'login' %}">Entrar</a></li>
                    <li class="nav__li"><a class="nav__a" href="{% url 'register' %}">Registrar</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

            <div>
                <p>Tópicos:</p>
                <ul>
                    {% for topic in topics %}
                        <li class="hero__up-text2">
                            <a class="hero__up-text2" href="{% url 'topic' topic.id %}">{{ topic }}</a>
                            <p>
                                <button class="hero__btn-ex"><a href="{% url 'delete_topic' topic.id %}">Excluir</a></button>
                            </p>
                        </li>
                    {% empty %}
                        <li>Não há tópicos adicionados.</li>
                    {% endfor %}
                </ul>
                <p>
                    <button class="hero__btn"><a class="nav__a" href="{% url 'new_topic' %}">Adicionar novos tópicos</a></button>
                </p>
            </div>
            <div class="container" >
                <footer class="footer" ><p>Todos direitos reservados <a class="nav__a"  href="https://github.com/PortoEmanuel">Emanuel Porto</a></p></footer>
            </div>
</body>
</html>
