<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        .caixa {
            border: 1px solid #ccc; /* Borda leve */
            padding: 20px; /* Espaço interno */
            margin: 20px; /* Espaço externo */
            border-radius: 8px; /* Cantos arredondados */
            background-color: #f9f9f9; /* Cor de fundo */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
        }
        .meio {
            text-align: center;
        }
    </style>
</head>
<body>
    {% extends "register/base.html" %}
    <div class="caixa">
        {% block content %}
            {% if form.erros %}
                <p>Seu login e senha estão incorretos. Por favor tente novamente!</p>
            {% endif %}
            <div class="caixa">
                <div class="meio">
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button name="submit">Entrar</button>
                        <input type="hidden" name="next" value="{% url 'index' %}"/>
                    </form>
                </div>
            </div>
        {% endblock content %}
    </div>
</body>
</html>